* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #58d4d8, #14689c);
    font-family: "Poppins";
    color: white;
    min-height: 100vh;
}

header, form, .w-title {
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}
form input {
    padding: 0.5rem;
    margin: 0.2rem;
    font-size: 1rem;
    border: none;
    background: white;
    max-width: 28%;
}
form button {
    padding: 0.5rem;
    margin: 0.2rem;
    font-size: 1rem;
    border: none;
    color: white;
    background: rgb(37, 247, 159);
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    background: white;
    color: rgb(37, 247, 159);
}